<div id="chessboard">
    <div id="row-8">
        <div class="white" id="A1"></div>
        <div class="black" id="A2"></div>
        <div class="white" id="A3"></div>
        <div class="black" id="A4"></div>
        <div class="white" id="A5"></div>
        <div class="black" id="A6"></div>
        <div class="white" id="A7"></div>
        <div class="black" id="A8"></div>
    </div>
    <div id="row-7">
        <div class="black" id="B1"></div>
        <div class="white" id="B2"></div>
        <div class="black" id="B3"></div>
        <div class="white" id="B4"></div>
        <div class="black" id="B5"></div>
        <div class="white" id="B6"></div>
        <div class="black" id="B7"></div>
        <div class="white" id="B8"></div>
    </div>
    <div id="row-6">
        <div class="white" id="C1"></div>
        <div class="black" id="C2"></div>
        <div class="white" id="C3"></div>
        <div class="black" id="C4"></div>
        <div class="white" id="C5"></div>
        <div class="black" id="C6"></div>
        <div class="white" id="C7"></div>
        <div class="black" id="C8"></div>
    </div>
    <div id="row-5">
        <div class="black" id="D1"></div>
        <div class="white" id="D2"></div>
        <div class="black" id="D3"></div>
        <div class="white" id="D4"></div>
        <div class="black" id="D5"></div>
        <div class="white" id="D6"></div>
        <div class="black" id="D7"></div>
        <div class="white" id="D8"></div>
    </div>
    <div id="row-4">
        <div class="white" id="E1"></div>
        <div class="black" id="E2"></div>
        <div class="white" id="E3"></div>
        <div class="black" id="E4"></div>
        <div class="white" id="E5"></div>
        <div class="black" id="E6"></div>
        <div class="white" id="E7"></div>
        <div class="black" id="E8"></div>
    </div>
    <div id="row-3">
        <div class="black" id="F1"></div>
        <div class="white" id="F2"></div>
        <div class="black" id="F3"></div>
        <div class="white" id="F4"></div>
        <div class="black" id="F5"></div>
        <div class="white" id="F6"></div>
        <div class="black" id="F7"></div>
        <div class="white" id="F8"></div>
    </div>
    <div id="row-2">
        <div class="white" id="G1"></div>
        <div class="black" id="G2"></div>
        <div class="white" id="G3"></div>
        <div class="black" id="G4"></div>
        <div class="white" id="G5"></div>
        <div class="black" id="G6"></div>
        <div class="white" id="G7"></div>
        <div class="black" id="G8"></div>
    </div>
    <div id="row-1">
        <div class="black" id="H1"></div>
        <div class="white" id="H2"></div>
        <div class="black" id="H3"></div>
        <div class="white" id="H4"></div>
        <div class="black" id="H5"></div>
        <div class="white" id="H6"></div>
        <div class="black" id="H7"></div>
        <div class="white" id="H8"></div>
    </div>
</div>
